/* Utility Classes */
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-col-rev {
    flex-direction: column-reverse;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}